{% extends "base.html" %}

{% block content %}
{% load random_image %}
{% if event_list %}
{% for event in event_list %}
<div class="card mb-4">
<img class="card-img-top" src="{% random_image "static/imgs" %}" alt="Card image cap">
<div class="card-body">
  <h2 class="card-title">{{ event.nazwa }}</h2>
  <p class="card-text">{{ event.opis|truncatechars:100 }}</p>
  <a href="/event/{{ event.id }}/" class="btn btn-primary">Czytaj więcej &rarr;</a>
</div>
</div>
{% endfor %}
{% else %}
<div class="card mb-4">
    <img class="card-img-top" src="{% random_image "static/imgs" %}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">Brak wydarzeń</h2>
    </div>
    </div>
{% endif %}

{% endblock content %}